.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.064);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);
}
.nav-link {
  color: white;
}
.imgKids {
  display: block;
  width: 4vw;
}
.btnPropic{
    padding: 0;
    background-color: none;
    display: block;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-text {
    visibility: hidden;
}
.dropdown-toggle[aria-expanded="true"] .dropdown-text {
    visibility: visible;
}
.genere{
    width: 90%;
    margin: 0 auto;
    height: 4vh;
}
h1, h2{
    color: white;
    display: inline;
}
.btnGenres{
    background-color: transparent;
    border: 1px solid white;
}
.row{
    margin-top: 5vw;
}
.carousel-item img{
    margin-top: 2vw;
}
@media screen and (min-width: 992) {
}
